*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
#header{
	background-color: #2B333C;
	color: white;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 50px;
}
#nav{
	position: absolute;
	background-color: #495B6C;
	height: 100vh;	
	width: 200px;
}
#nav-container{
	margin-top: 55px;
	margin-left: 5px;
	width: 190px;
	background-color: #495B6C;
	padding: 5px;
}
#nav-container-img{
	background-color: grey;
	padding: 5px;
	height: 180px;
	border: solid 1px white;
}
#nav-container-link{
	background-color: #495B6C;
	padding: 5px;
}
#nav-container-link ul{
	list-style: none;
}
#nav-container-link li{
	padding: 5px;
	background-color: #495B6C;
	border-bottom: solid 1px #878787;
}
#nav-container-link li:hover{
	background-color: #3B4A57;
}
#nav-container-link a{
	text-decoration: none;
	color:#A7B1C2;
}
	#nav-container-link a:hover{
	color:white;
}
.nav-dropdown{
	display: none;
}
#content{
	background-color: blue;
	height: 100vh;
}
#content-container{
	width: 100%;
	height: 100vh;
	background-color: #F9F9F9;
	padding-left: 205px;
	padding-top: 55px;
}
#content-header{
	margin: 5px;
	margin-right: 10px;
	height: 70px;
	border: solid 2px black;
}
#content-main{
	margin: 5px;
	margin-top: 10px;
	margin-right: 10px;
	height: 515px;
	border: solid 2px black;
	padding-left:30px;
	padding-top:30px;
}
.form-container{
	margin-left:50px;
	margin-top:25px;
}
.form-group{
	display:block;
}
.form-label{
	width:130px;
 	display:inline-block;
 }
.form-control{
    display:inline-block;
    background-color:grey;
	width:100px;
}
.table-strip{
	width:900px;
}
.table-headerrow-strip{
	background-color: grey;
	color: white;
	border-bottom: 1px solid black;
}
.table-row-strip{
	border-bottom: 1px solid black;
}
.table-stripe:hover{
	background-color: grey;
}